<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">GMapT</a>
  </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
  <nav class="nav flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="single">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Single
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="multi">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Multi
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="multi-card">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Multi Card
      </NavLink>
    </div>
  </nav>
</div>

