@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<div class="card mb-3 round-it overflow-hidden property cursor-pointer">
  <div class="card-img rounded-0 position-relative overflow-hidden" style="height: 150px;">
    <GoogleMap Id="@($"map-{Property.Id}")" Options="_mapOptions" Height=""175px" />
    <div class="position-absolute" style="inset: 0;"></div>
  </div>

  <div class="card-body p-3 pb-2">
    <div>
      <div class="fw-bold address">@Property.Name</div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public Property Property { get; set; } = default!;
  private MapOptions _mapOptions = default!;

  protected override Task OnInitializedAsync() {
    _mapOptions = new() {
      Zoom = Property != null ? 17 : 5,
      Center = new LatLngLiteral() {
        Lat = Property != null ? Property.Lat : 53.6865494,
        Lng = Property != null ? Property.Lng : -2.1476396
      },
      MapTypeId = MapTypeId.Roadmap
    };

    return InvokeAsync(StateHasChanged);
  }
}