@page "/multi-card"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<PageTitle>Multi Test</PageTitle>

<h1>Multi test</h1>

<div style="display: grid;
      place-content: center;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;">
  @foreach (Property property in TheClient.Properties)
  {
    <MapCard Property="property" />
  }
</div>

